@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hanson';
  src: local('Hanson'), url('./assets/Hanson-Bold.otf') format('opentype'), url("./assets/Hanson-Bold.ttf") format('truetype');

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), url('./assets/Helvetica Neue W01 66 Medium It.otf') format('opentype');

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  background-color:#fff;
  max-width:100%;
  overflow:hidden;
  margin: 0;
  font-family: 'Hanson', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hanson {
  font-family: 'Hanson';
}
.logo {
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height: 80px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button.wallet-adapter-button {
  border: solid 1px;
  color:black;
}
button.wallet-adapter-button:not([disabled]):hover {
  background-color:transparent;
  opacity: 0.6;
}
.wallet-adapter-modal-container {
  color:white;
}
.wallet-adapter-modal-container button.wallet-adapter-button {
  color:white;
  border:none;
}
.akira {
  font-family: 'Helvetica Neue', "Arial Black"
}
.heading-offset {
  padding-bottom:112px;
}
.pfp {
  z-index:-10;
}
@media screen and (max-width: 769px) {
  .swap-heading {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 2rem;
    padding-left:2rem;
  }
  .pfp {
    right:0;
  }
}